p.caption {
  color: #777;
  margin-top: 10px;
}

/* This is to change the code to not be shaded.  Not all req. */
/* I kept adding css until all the code was unshaded. */

p code {
  white-space: inherit;
  background-color: white !important;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
.sourceCode pre {
  word-break: normal;
  word-wrap: normal;
  background-color: white !important;
}
.sourceCode pre code {
  white-space: inherit;
  background-color: white !important;
}
.section .sourceCode code {
  white-space: inherit;
  background-color: white !important;
}
.section .sourceCode pre {
  white-space: inherit;
  background-color: white !important;
}
.section li code {
  white-space: inherit;
  background-color: white !important;
}
.section li pre {
  white-space: inherit;
  background-color: white !important;
}

/* This is to change the font.  All these aren't req probably. */
/* The .section one is important. */

body p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
}

.section {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
}

h1, h2, h3, h4 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
}

/* the following is to try to fix problems with lists embedded in lists */
/* the :not(.chapter) is to not have this apply to the toc on left */
.book-body ul {
    padding: 0;
    margin: 20px !important;
}

.book-body ul li {
    margin-top: 0em;
    margin-bottom: 0em;
}

.book-body ul li p {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

/* This is some futzing with the title page and author list */

.book .book-header h1 {
  opacity: 1;
  text-align: left;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
}

#header .title {
  margin-bottom: 0em;
}
#header h4.author {
  margin: 0;
  color: #666;
}
#header h4.author em {
  font-style: normal;
}
