p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
  background-color: white !important;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre.sourceCode {
  word-break: normal;
  word-wrap: normal;
  background-color: white !important;
}
pre code {
  white-space: inherit;
}

body p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
}

h1, h2, h3, h4 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
}

.book .book-header h1 {
  opacity: 1;
  text-align: left;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
}

#header .title {
  margin-bottom: 0em;
}
#header h4.author {
  margin: 0;
  color: #666;
}
#header h4.author em {
  font-style: normal;
}